:root 
{
    --TextColor : #260A02;
    --BackGround-1 : #FCF7F7;
    --BackGround-2 : #E8A999;
    --Border : #9D442D;
}
/* body */
body 
{
    background-color: var(--BackGround-1);
}
/* Header */
header a
{
    color: var(--TextColor);
}
header a:hover
{
    color:var(--TextColor) !important;
}
.line-1 , .Line-2
{
    border-color: var(--TextColor);
}
.About-Text h1
{
    color: var(--TextColor);
}
.swiper-scrollbar
{
    color: var(--Border) !important;
}