body 
{
    direction: rtl;
}
.row
{
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}
a 
{
    text-decoration: none !important;
}
/* About */
.About-Pic
{
    border-bottom-right-radius: 25px;
}
/* Header */
header 
{
    position: relative !important;
    background: transparent;
}
header ul
{
    list-style: none;
}
header li
{
    display: inline-block;
    font-weight: bold;
}
/* About */
#About .row
{
    width: 100% !important;

}
/* Activity */

/* Executive */
#Executive .flag
{
    position: relative;
}
/* Commission */
#Commission .Layer
{
    position: absolute;
}
/* Compaign */

/* Contact */
#Contact .Social-box
{
    position: relative !important;
}
/* Footer */
footer h4
{
    text-align: center;
}
