@media screen and (max-width: 1024px) 
{
/* Header */
    header 
   {
    width: 100%;
    height: 250px;
   } 
   header ul
    {
    padding-right: 70px;
    padding-top: 30px;
    }
    header li
    {
    margin-left: 40px;
    font-size: 15px;
    }
    /* About */
    #About
    {
    width: 100%;
    height: 800px;
    margin-top: -300px;
    padding: 0px !important;
    }
    #About .row
    {
    height: 900px;
    margin: 0px !important;
    padding: 0px !important;
    }
    .About-Pic
    {
    width: 40% !important;
    height: 100% !important;
    padding: 0 !important;
    margin-left: 0px !important;
    margin-right: 5%;
    }
    .About-Text
    {
    width: 50% !important;
    margin-right: 5%;
    }
    .line-1
    {
    width: 100%;
    height: 1px;
    border: 2px solid;
    margin-top: 300px;
    }
    .About-Text h1
    {
    font-size: 30px;
    margin-top: 50px;
    }
    .Line-2
    {
    width: 70%;
    height: 1px;
    border: 2px solid;
    margin-top: 50px;
    }
    .About-Text p
    {
    font-size: 22px;
    margin-top: 50px;
    }
    /* Activity */
    #Activity
    {
        width: 100%;
        height: 650px;
        margin-top: 150px;;
    }
    #Activity h2 
    {
        font-size: 30px;
        margin-right: 75px;
        margin-top: 50px;
    }
    .swiper
    {
        width: 70%;
        height: 500px;
        margin-top: 100px;
        
    }
    .slider
    {
        margin-right: 30% !important;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    #Activity img
    {
        width: 100% !important;
        height: 100% !important;
    }
    /* Executive */
    #Executive
    {
        width: 100%;
        height: 600px;
        margin-top: 100px;
    }
    #Executive h2 
    {
        width: 500px;
        font-size: 30px;
        margin-right: 75px;
        margin-top: 0px;
    }
    #Executive .flag
    {
        margin-top: -70px;
        width: 90%;
        margin-right: 10%;
        padding: 0 !important;
    }
    #Executive p
    {
        width: 500px;
        font-size: 25px;
        margin-top: -30px;
        margin-right: 100px;
    }
    #Executive .Pic
    {
        width: 60%;
        height: 400px;
        margin-top: 50px;
    }
    /* Commission */
    #Commission
    {
    width: 100%;
    height: 600px;
    margin-top: 150px;
    }
    #Commission h2
    {
    font-size: 30px;
    margin-right: 75px;
    margin-top: 50px;
    }
    #Commission .Commission-Info
    {
    width: 50%;
    height: 600px;
    margin-right: 0%;
    margin-top: 0px;
    padding-top: 75px;
    }
    #Commission .Commission-Info p 
    {
    margin-top: 30px;
    margin-right: 15%;
    font-size: 20px;
    }
    #Commission .Layer
    {
        width: 25%;
        height: 300px;
        border-radius: 25px;
        border: 2px solid;
    }
    #Commission .Layer-1 
    {
        margin-top: 75PX;
        margin-right: 62%;
    }
    #Commission .Layer-2
    {
        margin-top: 100px;
        margin-right: 61%;
    }
    #Commission .Layer-3
    {
        margin-top: 130px;
        margin-right: 60%;
    }
    #Commission .Layer-4
    {
        margin-top: 115px;
        margin-right: 60.5%;
    }
    #Commission img
    {
        width: 60%;
        height: 50%;
        margin-top: 30%;
        margin-right: 20%;
    }
    /* Compaign */
    #Compaign 
    {
        width: 90%;
        height: 500px;
        margin-top: 50px;
        margin-right: 5%;
        border-radius: 25px;
        padding: 0 !important;
    }
    #Compaign h2 
    {
        width: 300;
        font-size: 30px;
        margin-right: 0px;
       padding-top: 25px;
    }
    #Compaign .Compaign-Info
    {
        width: 20%;
        height: 600px;
        margin-right: 5%;
        border-radius: 25px;
    }
    #Compaign .Compaign-Map
    {
        width: 70%;
        height: 600px;
        margin-right: 5%;
        border-radius: 25px;
    }
    #Compaign h3 
    {
        margin-right: 0px;
        margin-top: 50px;
        font-size: 20px;
    }
    #Compaign iframe 
    {
        width: 65%;
        height: 500px;
        position: absolute !important; 
        margin-right: 0;
        border-radius: 25px;
    }
    /* Contact */
    #Contact
    {
        width: 100%;
        height: 400px;
        margin-top: 50px;
    }
    #Contact h2 
    {
        font-size: 30px;
        margin-right: 75px;
        margin-top: 0px;
    }
    #Contact .flag-2 
    {
        width: 100%;
    }
    #Contact .Social-box
    {
        width: 40%;
        height: 300px;
        margin-top: -250px;
        padding-right: 50px;
    }
    #Contact p
    {
        margin-top: 25px;
        margin-right: 50px;
        font-size: 20px;
    }
    #Contact .Social-Icon
    {
        width: 30px;
        height: 30px;
        margin-left: 25px;
    }
    /* Footer */
    footer
    {
        width: 100%;
        height: 150px;
        padding-top: 30px;
    }
    footer h4
    {
        font-size: 30px;
    }
}