@media screen and (max-width: 320px) 
{
/* Header */
    header 
   {
    width: 100%;
    height: 80px;
   } 
   header ul
    {
    padding-right: 7px;
    padding-top: 7px;
    }
    header li
    {
    margin-left: 7px;
    font-size: 5px;
    }
    header img 
    {
        margin-top: -20px;
        width: 40%;
        height: 70%;
    }
    /* About */
    #About
    {
    width: 100%;
    height: 200px;
    margin-top: -80px;
    padding: 0px !important;
    }
    #About .row
    {
    height: 300px;
    margin: 0px !important;
    padding: 0px !important;
    }
    .About-Pic
    {
    width: 40% !important;
    height: 90% !important;
    padding: 0 !important;
    margin-left: 0px !important;
    margin-right: 5%;
    }
    .About-Text
    {
    width: 50% !important;
    margin-right: 5%;
    }
    .line-1
    {
    width: 100%;
    height: 1px;
    border: 1px solid;
    margin-top: 100px;
    }
    .About-Text h1
    {
    font-size: 10px;
    margin-top: 10px;
    }
    .Line-2
    {
    width: 70%;
    height: 1px;
    border: 1px solid;
    margin-top: 10px;
    }
    .About-Text p
    {
    font-size: 7px;
    margin-top: 20px;
    }
    /* Activity */
    #Activity
    {
        width: 100%;
        height: 180px;
        margin-top: 100px;;
    }
    #Activity h2 
    {
        font-size: 15px;
        margin-right: 25px;
        margin-top: 50px;
    }
    .swiper
    {
        width: 70%;
        height: 150px;
        margin-top: 50px;
    }
    .slider
    {
        margin-right: 30% !important;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    #Activity img
    {
        width: 100% !important;
        height: 100% !important;
    }
    /* Executive */
    #Executive
    {
        width: 100%;
        height: 200px;
        margin-top: 100px;
    }
    #Executive h2 
    {
        width: 500px;
        font-size: 15px;
        margin-right: 25px;
        margin-top: 0px;
    }
    #Executive .flag
    {
        margin-top: -10px;
        width: 90%;
        margin-right: 10%;
        padding: 0 !important;
    }
    #Executive p
    {
        width: 500px;
        font-size: 12px;
        margin-top: 0px;
        margin-right: 20px;
    }
    #Executive .Pic
    {
        width: 60%;
        height: 150px;
        margin-top: 30px;
    }
    /* Commission */
    #Commission
    {
    width: 100%;
    height: 500px;
    margin-top: 150px;
    }
    #Commission h2
    {
    font-size: 15px;
    margin-right: 25px;
    margin-top: 50px;
    }
    #Commission .Commission-Info
    {
    width: 90%;
    height: 600px;
    margin-right: 0%;
    margin-top: 200px;
    padding-top: 75px;
    }
    #Commission .Commission-Info p 
    {
    margin-top: 10px;
    margin-right: 10%;
    text-align: center;
    font-size: 12px;
    }
    #Commission .Layer
    {
        width: 40%;
        height: 200px;
        border-radius: 25px;
        border: 2px solid;
    }
    #Commission .Layer-1 
    {
        margin-top: 20px;
        margin-right: 32%;
    }
    #Commission .Layer-2
    {
        margin-top: 35px;
        margin-right: 29%;
    }
    #Commission .Layer-3
    {
        margin-top: 50px;
        margin-right: 27%;
    }
    #Commission .Layer-4
    {
        margin-top: 45px;
        margin-right: 28%;
    }
    #Commission img
    {
        width: 60%;
        height: 50%;
        margin-top: 30%;
        margin-right: 20%;
    }
    /* Compaign */
    #Compaign 
    {
        width: 90%;
        height: 550px;
        margin-top: 50px;
        margin-right: 5%;
        border-radius: 25px;
        padding: 0 !important;
    }
    #Compaign h2 
    {
        width: 100%;
        font-size: 18px;
        margin-right: 0px;
       padding-top: 15px;
       text-align: center;
    }
    #Compaign .Compaign-Info
    {
        width: 90%;
        height: 200px;
        margin-right: 5%;
        border-radius: 25px;
    }
    #Compaign .Compaign-Map
    {
        width: 100%;
        height: 400px;
        margin-right: 0;
        border-radius: 25px;
    }
    #Compaign h3 
    {
        margin-right: 0px;
        margin-top: 13px;
        font-size: 17px;
    }
    #Compaign iframe 
    {
        width: 85%;
        height: 300px;
        position: absolute !important; 
        margin-right: 0;
        margin-top: 30px;
        border-radius: 25px;
    }
    /* Contact */
    #Contact
    {
        width: 100%;
        height: 200px;
        margin-top: 50px;
    }
    #Contact h2 
    {
        font-size: 15px;
        margin-right: 25px;
        margin-top: 0px;
    }
    #Contact .flag-2 
    {
        width: 100%;
    }
    #Contact .Social-box
    {
        width: 50%;
        height: 200px;
        margin-top: -100px;
        padding-right: 50px;
    }
    #Contact p
    {
        margin-top: 10px;
        margin-right: 10px;
        font-size: 7px;
    }
    #Contact .Social-Icon
    {
        width: 15px;
        height: 15px;
        margin-left: 15px;
    }
    /* Footer */
    footer
    {
        width: 100%;
        height: 100px;
        padding-top: 30px;
    }
    footer h4
    {
        font-size: 13px;
    }
}